@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}

h1,
section,
p,
span,
svg {
  transition: background-color 0.5s, color 0.5s;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

:root {
  --black: #46425e;
  --dark-blue: #15788c;
  --light-blue: #00b9be;
  --white: #ffeecc;
  --light-pink: #ffb0a3;
  --dark-pink: #ff6973;

  --black-transperant: #46425e80;
  --white-transperant: #ffeecc6b;
}

.light-theme {
  --color-text: var(--black);

  --color-link: var(--dark-pink);
  --color-link-hover: var(--light-pink);

  --color-background: var(--white);
  --color-light-pink: var(--light-pink);
  --color-dark-pink: var(--dark-pink);
  --color-light-blue: var(--light-blue);
  --color-dark-blue: var(--dark-blue);

  --color-project-background: var(--white-transperant);
}
.dark-theme {
  --color-text: var(--white);

  --color-link: var(--light-blue);
  --color-link-hover: var(--dark-blue);

  --color-background: var(--black);
  --color-light-pink: var(--white);
  --color-dark-pink: var(--white);
  --color-light-blue: var(--white);
  --color-dark-blue: var(--white);

  --color-project-background: var(--black-transperant);
}

/* Experience ------------------------------------------------------ */

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

/* Preloader ------------------------------------------------------ */
.arrow-svg-wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  color: var(--color-text);
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(8px);
  }
}

/* Page Itself ------------------------------------------------------ */

.page {
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

/* Nav Bar ------------------------------------------------------ */
.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 1%;

  z-index: 99999999999999;
}
.logo {
  cursor: pointer;
  margin-right: auto;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  font-size: 16px;
  color: var(--color-text);

  transition: all 0.3s ease 0s;
}

/* Toggle bar ------------------------------------------------------ */

.toggle-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.sun-wrapper,
.moon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.toggle-button {
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-pink);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle {
  transform: scale(0.9);
}

.slide {
  left: 28px;
}

/*  Section Formatting ------------------------------------------------------ */

.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

.left {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

/*  Progress Bars ------------------------------------------------------ */

.progress-wrapper {
  height: 0;
  width: 12px;
  z-index: 9999;
}

.progress-bar-wrapper-left {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right {
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar {
  height: 100vh;
  width: 100%;
  /* background-color: var(--color-dark-pink); */
  transform-origin: top center;
  transform: scaleY(1);
}
/*  Sections ------------------------------------------------------ */

.section-intro-wrapper {
  position: relative;
  padding: 20%;
  border-bottom: 2px solid var(--color-dark-pink);
  padding-bottom: 400px;
}

.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
}

.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
  color: var(--color-text);
}

.section-sub-heading {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-light-pink);
}

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color: var(--color-text);
}
/* Fancy Decoration Part of Section ------------------------------------------------------ */

.section-title {
  position: relative;
  color: var(--color-light-pink);
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
  color: var(--color-dark-pink);
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--color-dark-pink);
  transform-origin: left;
  transform: skewY(-25deg);
}

.styleOne {
  top: 0px;
}

.styleTwo {
  top: 80px;
}

.styleThree {
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--color-dark-pink);
}

.section-number {
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-dark-pink);
  font-size: 24px;
}

/* Hero Section ------------------------------------------------------ */

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main {
  position: absolute;
  bottom: 168px;
  left: 0;
  color: var(--color-text);
}

.hero-second {
  position: absolute;
  top: calc(50% - 120px);
  right: 0;
  color: var(--color-text);
}

.hero-main-title {
  font-size: 64px;
  color: var(--color-text);
}

.hero-main-description {
  font-size: 18px;
  color: var(--color-text);
}

.hero-second-subheading {
  font-size: 32px;
  text-transform: uppercase;
  color: var(--color-text);
}

/* Projects ------------------------------------------------------ */

.project-page-wrapper {
  background-color: var(--color-background);
}
.project-main {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--color-project-background);
}
.project-section {
  padding: 30px 10%;
}
.container {
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.item {
  padding: 5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.item img {
  max-width: 100%;
  max-height: 75%;
  object-fit: cover;
}
.item-sub-heading {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-light-pink);
}
.item-heading {
  font-size: 18px;
  font-weight: 700;
}
.item-text {
  font-size: 16px;
  color: var(--color-text);
}

/* Social Icons ------------------------------------------------------ */

.social-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.social-icon {
  text-decoration: none;
  font-size: 50px;
}

/* Buttons ------------------------------------------------------ */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button {
  cursor: pointer;
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-pink);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  color: var(--color-background);
  font-size: 18px;
  font-weight: 700;

  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(0.9);
}

/* Media Queries */

@media (max-width: 968px) {
  .section {
    width: 100%;
  }
}
